/* font taget fra font generator, href i html */
body {
  background-color: white;
  color: black;
  font-family: "Montserrat", sans-serif;
}
header {
  background-color: white;
  color: black;
  font-family: "Montserrat", sans-serif;
}
section {
  background-color: white;
  color: black;
  font-family: "Montserrat", sans-serif;
}
#about h1
h2 {
  color: black;
  font-family: "Roboto Condensed", sans-serif;
}
footer {
  background-color: white;
  color: black;
  font-family: verdana;
}
/* lav height, width og max-width
box model?
css links?
styling images?
 */
