body {
  background-color: red;
  color: white;
  font-family: "Montserrat", sans-serif;
}
header {
  background-color: blue;
  color: white;
  font-family: "Montserrat", sans-serif;
}
section {
  background-color: orange;
  color: wheat;
  font-family: "Montserrat", sans-serif;
}
h2 {
  color: darkgrey;
  font-family: "Roboto Condensed", sans-serif;
}
footer {
  background-color: white;
  color: black;
  font-family: verdana;
}
