/* font taget fra font generator, href i html */
header {
  background-color: white;
  color: black;
  font-family: "Montserrat", sans-serif;
}
#overskrift {
    background-color: #f83e4b;
}
body {
  background-color: white;
  color: black;
  font-family: "Metrophobic", sans-serif;
}
#intro {
  border-width: 1px;
  border-color: red;
  border-style: dashed;
}
#ingrliste {
  border-width: 1px;
  border-color: black;
  border-style: double;
}
ol {
  background: #ff9999;
  padding: 20px;
}
ol li {
  background: #ffe5e5;
  color: darkslategrey;
  padding: 5px;
  margin-left: 35px;
}
section {
  background-color: white;
  color: black;
  font-family: "Montserrat", sans-serif;
}
h1 {
  width: 50%;
  height: 50%;
}
h2 {
  color: black;
  font-family: "Roboto Condensed", sans-serif;
}
footer {
  background-color: #f83e4b;
  color: black;
  font-family: verdana;
}
